*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

/* ===== BACKGROUND GRADIENT BERKELIP ===== */

body{
min-height:100vh;
overflow-y:auto;
overflow-x:hidden;

display:flex;
justify-content:center;
align-items:flex-start;
padding:40px 16px;

background:linear-gradient(120deg,
#ffffff,
#fff3f8,
#ffd9e8,
#f8a7c5,
#faa2c8,
hsl(299, 72%, 85%));

background-size:600% 600%;
animation:bgBlink 14s ease-in-out infinite;
}

@keyframes bgBlink{
0%{background-position:0% 50%}
25%{background-position:100% 50%}
50%{background-position:0% 100%}
75%{background-position:100% 0%}
100%{background-position:0% 50%}
}

/* ===== LAYER DECOR ===== */

#bgDecor{
position:fixed;
inset:0;
z-index:0;
pointer-events:none;
overflow:hidden;
}

/* ===== HEART ABSTRAK BESAR ===== */

.bigHeart{
position:absolute;
opacity:.15;
animation:fallFloat linear infinite;
filter:blur(.1px);
}

@keyframes fallFloat{
0%{transform:translateY(-10vh) rotate(0)}
100%{transform:translateY(110vh) rotate(0deg)}
}

/* ===== SPARKLE KELAP KELIP ===== */

.sparkle{
position:absolute;
width:10px;
height:10px;
border-radius:50%;
background:radial-gradient(circle, #fff, #eec1d3);
opacity:.7;
animation:sparkleBlink 1s ease-in-out infinite;
}

@keyframes sparkleBlink{
0%,100%{opacity:.1; transform:scale(.6)}
50%{opacity:1; transform:scale(1.8)}
}

/* ===== CONTENT DI ATAS ===== */

.wrapper{
width:80%;
display:flex;
justify-content:center;
position:relative;
z-index:2;
}

/* ===== CARD — TIDAK DIUBAH ===== */

.card{
width:100%;
max-width:420px;
background:rgba(242, 235, 238, 0.65);
backdrop-filter:blur(18px);
border-radius:26px;
padding:32px;
text-align:center;

box-shadow:
0 30px 70px rgba(255,105,180,.25),
inset 0 0 0 1px rgba(255,255,255,.8);
}

/* ===== TEXT & KEYPAD — SAMA ===== */

.title{color:#ff4d88;font-size:26px;margin-bottom:8px}
.clue{font-size:14px;opacity:.7;margin-bottom:22px}

.display{
font-size:30px;
letter-spacing:12px;
font-weight:700;
color:#ff2f7a;
background:#fff0f6;
padding:16px;
border-radius:16px;
margin-bottom:22px;
}

.pad{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:14px;
}

.num{
height:64px;
border:none;
border-radius:18px;
font-size:20px;
font-weight:700;
cursor:pointer;
background:white;
box-shadow:0 10px 25px rgba(255,105,180,.25);
transition:.18s;
}

.num:active{transform:scale(.88)}

.del{background:#ffe4ec}

.ok{
background:linear-gradient(45deg,#ff4d88,#ff8ec6);
color:white;
}
